:root {
  color-scheme: dark;
  color: #a1a1aa;
  background: #09090b;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body,
html,
#app {
  margin: 0;
  height: 100%;
  background: #09090b;
}

html {
  height: 100vh;
}

::selection {
  background: #fbbf24;
  color: #09090b;
}
